<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="valisSystem" type="Valis.Core.Configuration.ValisSection, Valis.Core"/>
  </configSections>

  
  <valisSystem>
    <Core SystemPublicHostName="mysurveys.dev.net" SystemPublicName="ValisSurveys v2015.0.0107.0" BrandName="ValisSurveys" IsProduction="false">
      <Database ConnString="Data Source=.\sql2012;Initial Catalog=ValisSurveys;Persist Security Info=True;User ID=sa;Password=tolk!3n;Application Name=Valis.Core.UnitTests" Provider="System.Data.SqlClient" Assembly="Valis.Core.SqlServer" />
      <FileInventory Path="C:\Valis\Files"/>
      <RemoveUrl Url="mysurveys.dev.net/commands/recipient/remove.aspx"/>
      <RuntimeEngine Host="localhost:45937"/>
    </Core>    
  </valisSystem>
  
</configuration>