<?xml version="1.0"?>
<configuration>
    <system.web>

      
      <!--
        we deny access to all anonymous users:
      -->
      <authorization>
        <deny users="?"/>
      </authorization>
      
    </system.web>
    <location path="verify.aspx">
      <system.web>
        <authorization>
          <allow users ="*" />
        </authorization>
      </system.web>
    </location>
</configuration>
